@using CourseAndResultMS.Models;
@{
    List<Department> departments = ViewBag.DepartmentList;
    List<Semester> semesters = ViewBag.SemesterList;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Course Create</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
















        label.error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Create Course</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="create" method="post" action="@Url.Action("Create", "Course")">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="Code" class="col-md-2 control-label">Code</label>
                        <div class="col-md-10">
                            <input type="text" id="Code" name="Code" class="form-control" onchange="UserCheck()" />
                            <span class="text-danger" id="checkCode"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="Name" name="Name" class="form-control" onchange="UserCheck()" />
                            <span class="text-danger" id="checkName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cradit" class="col-md-2 control-label">Cradit</label>
                        <div class="col-md-10">
                            <input type="number" id="Cradit" name="Cradit" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DepartmentId" class="col-md-2 control-label">Department</label>
                        <div class="col-md-10">
                            <select id="DepartmentId" name="DepartmentId" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (Department item in departments)
                                {
                                    <option value="@item.DepartmentId">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SemesterId" class="col-md-2 control-label">Semester</label>
                        <div class="col-md-10">
                            <select id="SemesterId" name="SemesterId" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (Semester item in semesters)
                                {
                                    <option value="@item.SemesterId">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                            <textarea id="Description" name="Description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
                            <a href="../Course/Index" class="btn btn-info">Back To List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        function UserCheck() {
            $("#checkCode").empty();
            $("#checkName").empty();

            var code = $("#Code").val();
            var name = $("#Name").val();

            var jsonForCode = { code: code };
            var jsonForName = { name: name };

            $.ajax({
                type: "POST",
                url: '/Course/CodeIsExist',
                contentType: "application/json; charset=uft-8",
                data: JSON.stringify(jsonForCode),
                success: function (data) {
                    if (data == 1)
                        $("#checkCode").append('<span class="text-danger">Code is exist.</span>')
                }
            });

            $.ajax({
                type: "POST",
                url: '/Course/NameIsExist',
                contentType: "application/json; charset=uft-8",
                data: JSON.stringify(jsonForName),
                success: function (data) {
                    if (data == 1)
                        $("#checkName").append('<span class="text-danger">Name is exist.</span>')
                }
            });
        }

        $(document).ready(function () {
            $("#create").validate({
                rules: {
                    Code: {
                        required: true,
                        minlength: 5
                    },
                    Name: "required",
                    Cradit: {
                        required: true,
                        minlength: 0.5,
                        maxlength: 5.0
                    },
                    DepartmentId: "required",
                    SemesterId: "required",
                    Description: "required"
                },
                messages: {
                    Code: {
                        required: "Please input code",
                        minlength: "At last 5 character"
                    },
                    Name: "Please input name",
                    Cradit: {
                        required: "Please give cradit",
                        minlength: "At last 0.5 cradit",
                        maxlength: "Upto 5.0 cradit"
                    },
                    DepartmentId: "Please select Department",
                    SemesterId: "Please select Semester",
                    Description: "Please write something"
                }
            });
        });
    </script>
</body>
</html>
