@using CourseAndResultMS.Models;
@{
    List<Designation> designations = ViewBag.DesignationList;
    List<Department> departments = ViewBag.DepartmentList;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Teacher</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Create Teacher</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="create" method="post" action="@Url.Action("Create", "Teacher")">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="Name" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" id="Email" name="Email" class="form-control" onchange="UserCheck()" />
                            <span id="matchEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Contact" class="col-md-2 control-label">Contact</label>
                        <div class="col-md-10">
                            <input type="number" id="Contact" name="Contact" class="form-control" onchange="UserCheck()" />
                            <span id="matchContact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DesignationId" class="col-md-2 control-label">Designation</label>
                        <div class="col-md-10">
                            <select id="DesignationId" name="DesignationId" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (Designation item in designations)
                                {
                                    <option value="@item.DesignationId">@item.Description</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DepartmentId" class="col-md-2 control-label">Department</label>
                        <div class="col-md-10">
                            <select id="DepartmentId" name="DepartmentId" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (Department item in departments)
                                {
                                    <option value="@item.DepartmentId">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CraditToBeTaken" class="col-md-2 control-label">Cradit Taken</label>
                        <div class="col-md-10">
                            <input type="number" id="CraditToBeTaken" name="CraditToBeTaken" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address" class="col-md-2 control-label">Address</label>
                        <div class="col-md-10">
                            <textarea id="Address" name="Address" class="form-control" placeholder="Type your address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
                            <a href="../Teacher/Index" class="btn btn-info">Back To List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>

        function UserCheck() {
            var email = $("#Email").val();
            var contact = $("#Contact").val();

            var jsonObjFroEmail = { checkEmail: email };
            var jsonObjFroContact = { checkContact: contact };

            $.ajax({
                type: "POST",
                url: '/Teacher/EmailIsExist',
                contentType: "application/json; charset=uft-8",
                data: JSON.stringify(jsonObjFroEmail),
                success: function (data) {
                    if (data == 1)
                        $("#matchEmail").append('<span type="text-danger">Email has been allready taken!</span>');
                }
            });

            $.ajax({
                type: "POST",
                url: '/Teacher/ContactIsExist',
                contentType: "application/json; charset=uft-8",
                data: JSON.stringify(jsonObjFroContact),
                success: function (data) {
                    if (data == 1)
                        $("#matchContact").append('<span type="text-danger">Contact number has been allready taken!</span>');
                }
            });
        }

        $(document).ready(function () {
            $("#create").validate({
                rules: {
                    Name: "required",
                    Email: {
                        required: true,
                        email: true,
                        maxlength: 50
                    },
                    Contact: {
                        required: true,
                        minlength: 11,
                        maxlength: 14
                    },
                    DesignationId: "required",
                    DepartmentId: "required",
                    CraditToBeTaken: {
                        required: true,
                        range: [0, 200]
                    },
                    Address: "required"
                },
                messages: {
                    Name: "Please give Teacher Name.",
                    Email: {
                        required: "Please give email.",
                        email: "Please give valid email.",
                        maxlength: "Upto 50 character."
                    },
                    Contact: {
                        required: "Please give contact number.",
                        minlength: "At last 11 digite are give.",
                        maxlength: "Upto 14 digite are given"
                    },
                    DesignationId: "Select Designation",
                    DepartmentId: "Select Department",
                    CraditToBeTaken: {
                        required: "Please give Cradit to be taken",
                        range: "You given 0 - 200 Cradit"
                    },
                    Address: "Please give address"
                }
            });
        });
    </script>
</body>
</html>
